<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="left_wheel">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="right_wheel">
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="base_to_left_wheel">
    <physics>
      <provide_feedback>true</provide_feedback>
    </physics>
  </gazebo>
  <gazebo reference="base_to_right_wheel">
    <physics>
      <provide_feedback>true</provide_feedback>
    </physics>
  </gazebo>
</robot>
